/* CSS Modal for Mediawiki
 * 
 * @author: Keenan Payne
 * current version crafted together by [[User:Christharp]].
 * Added scroll bar for inside div and changed some elements for better viewing inside a Mediawiki.
 */

ul.plainList {
    list-style-type: none;
    list-style-image: none;
}

ul.plainList li {
  display: inline;  
  padding-left: 0.4em;
}


p.pws-warning {
  color: #af5050;
  padding-left: 0.5em;
}	

pre div.secret {
  margin-bottom: -16px;
  display: inline;
}

a.pws-lock {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  display: inline-block;  
  background-image: url('data:image/svg+xml;utf8,<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns%23"  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns%23" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" width="217.81886" height="310.38968" id="svg3493"> <title id="title3514">Padlock (Monochrome; Icon)</title> <defs id="defs3" /> <g transform="translate(-202.3278,-163.72864)" id="layer1">  <g  transform="translate(-1347.9697,-1331.7072)" id="g3353"> <path d="m 1659.3438,1495.5 c -0.9683,0.01 -1.9372,0.021 -2.9063,0.062 -44.496,0.284 -84.418,39.8534 -84.5313,84.4687 -0.5035,10.5173 0.1466,21.0422 0.031,31.5626 -7.1458,-10e-5 -14.2917,-10e-5 -21.4375,0 0.5678,46.2263 -1.1556,92.5595 0.9062,138.7187 4.4359,29.7237 31.126,56.6032 62.25,55.1563 34.0779,-0.066 68.2622,1.0541 102.2813,-0.6876 31.9335,-5.5024 54.3592,-38.2927 51.9375,-70.0312 0.3669,-41.0408 -0.035,-82.0834 0.125,-123.125 -7.1142,-0.1818 -14.2302,0.139 -21.3438,-0.094 0.5401,-24.9901 1.715,-52.3066 -12.5312,-73.9687 -15.4057,-25.7055 -44.767,-42.255 -74.7812,-42.0625 z m 0.4062,35.6875 c 25.2812,0.3463 50.2589,21.2831 49.5312,47.625 0.5019,10.9218 0.8363,21.8503 1.0626,32.7813 -34.0106,-0.02 -68.021,0.053 -102.0313,-0.063 0.1057,-17.0978 -4.4827,-35.7927 4.875,-51.1874 8.4966,-16.3109 25.4796,-28.7926 44.125,-29.125 0.8153,-0.032 1.622,-0.043 2.4375,-0.031 z" id="path3355" style="opacity:0.98000004;fill:%23ffffff;fill-opacity:1;stroke:%23000000;stroke-width:0;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" /> <path d="m 1657.1459,1501.5419 c -44.1297,1.1108 -79.3125,37.031 -79.3125,81.4375 l 0,34.625 -21.3437,0 0,117.75 0.031,0 c -0.031,0.8505 -0.031,1.7033 -0.031,2.5625 0,34.1971 25.0513,61.7188 56.1874,61.7188 l 93.0938,0 c 31.1363,0 56.2188,-27.5217 56.2188,-61.7188 0,-0.859 -0.032,-1.7123 -0.063,-2.5625 l 0.063,0 0,-117.75 -21.3126,0 0,-34.625 c 0,-45.1114 -36.2948,-81.4375 -81.4062,-81.4375 -0.7049,0 -1.4245,-0.018 -2.125,0 z m -0.375,23.75 c 0.5355,-0.013 1.0865,0 1.625,0 25.7897,-0.6025 51.1388,18.477 56.4062,43.8125 0.8967,16.1656 1.4017,32.3188 1.6876,48.5 l -114.3126,0 c -0.027,-7.7372 -0.063,-15.4558 -0.2187,-23.1875 -6.5279,-33.085 21.0746,-68.3317 54.8125,-69.125 z m 2.375,135.375 c 1.2168,0 2.4472,0.095 3.6875,0.2812 13.2304,1.9847 22.3595,14.301 20.375,27.5313 -0.9138,6.092 -4.0565,11.3341 -8.4375,15 l 8.4688,53.0937 -23.8438,0 -0.3438,0 -23.8124,0 8.4374,-53.0937 c -6.2414,-5.2417 -9.7038,-13.5365 -8.4062,-22.1875 1.7986,-11.9899 12.1125,-20.593 23.875,-20.625 z" id="path3357" style="opacity:0.98000004;fill:%23000000;fill-opacity:1;stroke:%23000000;stroke-width:0;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" /></g></g></svg>');
  background-size: 15px 15px;
  background-repeat: no-repeat;
}


a.pws-info {
  width:  15px;
  height: 15px;
  margin-left: 5px;
  margin-bottom: 5px;
  display: inline-block;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="30 30 452 452" enable-background="new 0 0 512 512" xml:space="preserve"><path id="info-2-icon" d="M255.998,90.001c91.74,0,166.002,74.241,166.002,165.998c0,91.741-74.245,166-166.002,166 c-91.74,0-165.998-74.243-165.998-166C90,164.259,164.243,90.001,255.998,90.001 M255.998,50.001 C142.229,50.001,50,142.229,50,255.999c0,113.771,92.229,206,205.998,206c113.771,0,206.002-92.229,206.002-206 C462,142.229,369.77,50.001,255.998,50.001L255.998,50.001z M285.822,367.567h-57.646V230.6h57.646V367.567z M257,202.268 c-17.522,0-31.729-14.206-31.729-31.73c0-17.522,14.206-31.729,31.729-31.729c17.524,0,31.728,14.206,31.728,31.729	C288.728,188.062,274.524,202.268,257,202.268z"/></svg>');  
  background-size: 15px 15px;
  background-repeat: no-repeat;
}

input.pws_input {
  width: 99%
}


li a.pws_trash{
  width:  15px;
  height: 15px;
  display: inline-block;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"><path style="text-indent:0;text-align:start;line-height:normal;text-transform:none;block-progression:tb;-inkscape-font-specification:Bitstream Vera Sans" d="M 11 -0.03125 C 10.164156 -0.03125 9.343691 0.13412644 8.75 0.71875 C 8.156309 1.3033736 7.96875 2.138489 7.96875 3 L 4 3 C 3.449 3 3 3.449 3 4 L 2 4 L 2 6 L 24 6 L 24 4 L 23 4 C 23 3.449 22.551 3 22 3 L 18.03125 3 C 18.03125 2.138489 17.843691 1.3033736 17.25 0.71875 C 16.656309 0.13412644 15.835844 -0.03125 15 -0.03125 L 11 -0.03125 z M 11 2.03125 L 15 2.03125 C 15.545156 2.03125 15.720191 2.1586236 15.78125 2.21875 C 15.84231 2.278876 15.96875 2.440511 15.96875 3 L 10.03125 3 C 10.03125 2.440511 10.157691 2.2788764 10.21875 2.21875 C 10.27981 2.158624 10.454844 2.03125 11 2.03125 z M 4 7 L 4 23 C 4 24.654 5.346 26 7 26 L 19 26 C 20.654 26 22 24.654 22 23 L 22 7 L 4 7 z M 8 10 L 10 10 L 10 22 L 8 22 L 8 10 z M 12 10 L 14 10 L 14 22 L 12 22 L 12 10 z M 16 10 L 18 10 L 18 22 L 16 22 L 16 10 z" color="%23000" overflow="visible" enable-background="accumulate" font-family="Bitstream Vera Sans"></path></svg>');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  padding-bottom: 0.2em;
  padding-left:   0.1em;
}


li a.pws_user{
  width:  16px;
  height: 16px;
  margin-bottom: -0.1em;
  display: inline-block !important; 
  background-image: url('data:image/svg+xml;utf8,<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" width="16" height="16" viewBox="0 0 16 16" id="Layer_1" xml:space="preserve"><path d="M 3.0702136,8.3953102 C 1.4798203,10.184503 1.2990938,12.190567 1.9015155,13.515895 c 0.3891644,0.851824 0.9397778,1.357859 1.5819594,1.65666 0.5976023,0.275909 1.2940018,0.328922 1.9976304,0.339766 0.027711,0 0.048194,0.03614 0.0747,0.03614 h 5.0446797 c 0.734955,0 1.475933,-0.150605 2.108476,-0.487962 0.634953,-0.337356 1.157855,-0.865077 1.431354,-1.657864 0.403623,-1.161469 0.210848,-3.047049 -1.318099,-4.8555195 -1.130143,1.412077 -2.8337913,2.3337825 -4.7796139,2.3337825 -2.0205224,0 -3.8338118,-0.9783332 -4.9699791,-2.4855928 h -0.00241 z" id="path3" style="fill:%23777777" /><path d="m 8.0401927,0.37587243 c -2.2771541,0 -4.3314121,2.01690787 -4.3302073,4.29285707 -0.00241,2.2735395 2.0530532,4.3277976 4.3265928,4.3277976 2.2771538,0 4.2940618,-2.0542581 4.2928568,-4.3290024 0.0024,-2.2759493 -2.015703,-4.29165227 -4.2892423,-4.29165227 l 0,0 z" id="path5" style="fill:%23777777" /></svg>');
  background-size: 16px 16px;  
  background-repeat: no-repeat;
}


li a.pws_group{
  width:  16px;
  height: 16px;
  margin-bottom: -0.1em;
  display: inline-block;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" width="16" height="16" viewBox="0 0 16 15.999999" id="Layer_1" xml:space="preserve"><path d="m 1.6146196,6.5982038 c -1.16223994,1.30752 -1.29431264,2.773527 -0.85407024,3.7420612 0.28439654,0.622502 0.68677814,0.992306 1.15607654,1.210667 0.4367204,0.20163 0.9456406,0.240372 1.4598438,0.248296 0.020251,0 0.03522,0.02641 0.05459,0.02641 h 3.6865901 c 0.5370965,0 1.0785935,-0.11006 1.5408485,-0.356597 0.464016,-0.246535 0.846146,-0.632187 1.046016,-1.211546 0.294963,-0.8487882 0.154085,-2.2267462 -0.963251,-3.5483542 -0.825894,1.031928 -2.0708997,1.705499 -3.492883,1.705499 -1.476573,0 -2.8017026,-0.714954 -3.6319997,-1.816441 h -0.00176 z" id="path3007" style="fill:%23777777" /><path d="m 5.2466194,0.73769721 c -1.6641163,0 -3.1653429,1.47393149 -3.1644624,3.13716729 -0.00176,1.6614748 1.5003461,3.1627013 3.1618209,3.1627013 1.6641161,0 3.1380474,-1.5012265 3.1371674,-3.1635818 C 8.3829453,2.2107482 6.908094,0.73769721 5.2466194,0.73769721 l 0,0 z" id="path3009" style="fill:%23777777" /><path d="m 7.4187046,10.057204 c -1.16224,1.30752 -1.2943127,2.773527 -0.8540703,3.742061 0.2843966,0.622502 0.6867782,0.992306 1.1560766,1.210667 0.4367204,0.20163 0.9456406,0.240372 1.4598438,0.248296 0.020251,0 0.03522,0.02641 0.05459,0.02641 h 3.6865903 c 0.537096,0 1.078593,-0.11006 1.540848,-0.356597 0.464016,-0.246535 0.846146,-0.632187 1.046016,-1.211546 0.294963,-0.848788 0.154085,-2.226746 -0.963251,-3.548354 -0.825894,1.031928 -2.070899,1.705499 -3.492883,1.705499 -1.4765727,0 -2.8017023,-0.714954 -3.6319994,-1.816441 h -0.00176 z" id="path3783" style="fill:%23999999;fill-opacity:1" /><path d="m 11.050704,4.1966973 c -1.6641159,0 -3.1653425,1.4739315 -3.164462,3.1371673 -0.00176,1.6614748 1.5003461,3.1627014 3.161821,3.1627014 1.664116,0 3.138047,-1.5012266 3.137167,-3.1635819 0.0018,-1.6632358 -1.473051,-3.1362868 -3.134526,-3.1362868 l 0,0 z" id="path3785" style="fill:%23999999;fill-opacity:1" /></svg>');
  background-size: 16px 16px;  
  background-repeat: no-repeat;
}




.pws_modal_dialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	/*opacity:0;*/
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	/*pointer-events: none;*/
}

.pws_modal_dialog:target {
	opacity:1;
	pointer-events: auto;
}

.pws_modal_dialog > div {
  position: relative;
  width: 70%;
  height:auto; 
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.pws_modal_dialog img {
  width:100%;
  height:auto;
}

.pws_modal_close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.pws_modal_close:hover { 
  background: #00d9ff; 
}

textarea.public-key{
  width: 100%;
  height: 100px;
}